
@{
    ViewData["Title"] = "AddSingleEntity";
}

<h1>Add Service</h1>
<p>
    Insert Service Entity result 
    is inserted to table @ViewBag.tablename is @(ViewBag.SuccessCode == 204? "successfully!" : " failed! Reason:Maybe data exised!" + ViewBag.Message)
</p>

