
@{
    ViewData["Title"] = "CreateTable";
}

<h1>Create Table Result</h1>
<p>
    The @ViewBag.TableName is create
    @(ViewBag.Success == true? "is succeeded!":"is failed. maybe table exist")
</p>

