@model ddacassignment.Models.ServicesEntity
@{
    ViewData["Title"] = "getSearchManager";
}

<h1>Schedule Result</h1>
<table border=2>
    <tr>
        <th style="width:15%">Service Name</th>
        <th style="width:15%">Company</th>
        <th style="width:15%">Schedule</th>
        <th style="width:15%">Price</th>
    </tr>
    <tr>
        <td style="width:15%">@Model.PartitionKey</td>
        <td style="width:15%">@Model.RowKey</td>
        <td style="width:15%">@Model.Schedule</td>
        <td style="width:15%">@Model.Price</td>
    </tr>
</table>
