@model ddacassignment.Models.ServicesEntity
@{
    ViewData["Title"] = "getsingleentity";
}

<h1>Schedule Result</h1>

<table border=5 width=80%>
    <tr>
        <th> Service Name </th>
        <th> Company </th>
        <th> Schedule </th>
        <th> Price </th>
        <th> Action </th>
    </tr>
    <tr>
        <td>@Model.PartitionKey</td>
        <td>@Model.RowKey</td>
        <td>@Model.Schedule</td>
        <td>@Model.Price</td>
        <td><a><button>Book</button></a></td>
    </tr>
</table>

