
@{
    ViewData["Title"] = "AddSingleEntity2";
}

<h1>AddSingleEntity2</h1>

<p>
    Insert Single Entity result as Below
    Data is inserted to table @ViewBag.tablename is @(ViewBag.SuccessCode == 204? "successfully!" : " failed! Reason: Maybe data exised!" + @ViewBag.Message)
</p>