
@{
    ViewData["Title"] = "CreateReviewTable";
}

<h1>CreateReviewTable</h1>

<p>
    The @ViewBag.TableName is create
    @(ViewBag.Success == true? "is succeeded!":"is failed. maybe table exist")
</p>