
@{
    ViewData["Title"] = "CreateContainer";
}

<h1>Create Container</h1>

<p>
    The @ViewBag.containerName container has been created
    @(ViewBag.result == true ? "Successfull" : "failed. The container maybe exist");
</p>